    <td><%= check_box_tag "product_ids[]", product.id, false, {class: 'checkboxes', data: { 'selectall_target': 'checkbox', action: "change->selectall#toggleParent"}, form: :bulk_delete_form } %></td>
